<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true">
					<add fileExtension=".cfm" allowed="true" />
					<add fileExtension=".js" allowed="true" />
					<add fileExtension=".css" allowed="true" />
					<add fileExtension=".html" allowed="true" />
				</fileExtensions>
				<hiddenSegments>
					<add segment="configuration" />
				</hiddenSegments>
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>

		<directoryBrowse enabled="true" />
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\XaniAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
	<appSettings>
		<add key="MyTestSetting" value="A test value." />
	</appSettings>
	<system.web>
		<httpRuntime executionTimeout="5000" />
	</system.web>
</configuration>